# Project exclude paths
/node_modules/
/templates/assets/chart.js/auto/auto.js
/templates/assets/chart.js/auto/auto.mjs
/templates/assets/chart.js/helpers/helpers.js
/templates/assets/chart.js/helpers/helpers.mjs
/Config.ini